.maps-bg {
    background-image: url("https://maps.googleapis.com/maps/api/staticmap?scale=1&size=1600x900&style=feature:poi.business|visibility:off&style=feature:water|visibility:simplified&style=feature:road|element:labels.icon|visibility:off&style=feature:road.highway|element:labels|saturation:-90|lightness:25&format=jpg&language=en&region=US&markers=color:0xdb5e5e|39.1373579,-86.5266111&zoom=16&client=google-presto&signature=TMfHPK2dYrHteeS1QIuWblU77oY");
    background-position: center;
    background-repeat: no-repeat;
}